#*
 * This file is part of Maven Deployit plugin.
 *
 * Maven Deployit plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Maven Deployit plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Maven Deployit plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#

 ------
 Test Deployment Configuration
 ------
 Benoit Moussaud
 ------
 28 June 2010
 ------

Include configuration files to the deployment

 Fill in the mapping with the target directory.

------
<plugins>
    ....
        <plugin>
        <groupId>com.xebialabs.deployit</groupId>
        <artifactId>maven-deployit-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
            <execution>
                <id>deployit-plugin-test</id>
                <phase>pre-integration-test</phase>
                <goals>
                    <goal>deploy</goal>
                </goals>
            </execution>
        </executions>
        <configuration>
			<environment>
				<ConfigurationItem>
					<type>Host</type>
					<label>Infrastructure/JBoss Host</label>
					<address>jboss-51</address>
					<username>root</username>
					<password>centos</password>
					<operatingSystemFamily>UNIX</operatingSystemFamily>
					<accessMethod>SSH_SFTP</accessMethod>
				</ConfigurationItem>
				<ConfigurationItem>
					<type>JbossasServer</type>
					<label>Infrastructure/JBoss Host/JBoss server</label>
					<host>Infrastructure/JBoss Host</host>
					<home>/opt/jboss/5.1.0.GA</home>
					<version>JBOSSAS_50</version>
					<name>itest</name>
					<startCommand>bin/start.sh</startCommand>
				</ConfigurationItem>
			</environment>

			<deployableArtifacts>
				<DeployableArtifactItem>
					<type>ConfigurationFiles</type>
					<location>package/resources.dir</location>
				</DeployableArtifactItem>
			</deployableArtifacts>

			<mappings>
				<MappingItem>
					<type>ConfigurationFilesMapping</type>
					<source>Applications/configuration-files/1.0/resources</source>
					<target>Infrastructure/JBoss Host</target>
					<keyValuePairs>
						<pair>
							<k>remote.host</k>
							<v>www.xebialabs.com</v>
						</pair>
					</keyValuePairs>
					<targetDirectory>/data/autotest</targetDirectory>
				</MappingItem>
			</mappings>
        </configuration>
        <dependencies>
            <dependency>
                <groupId>com.xebialabs.deployit</groupId>
                <artifactId>jbossas-plugin</artifactId>
                <version>${deployitPluginVersion}</version>
            </dependency>
        </dependencies>
        </plugin>

    ...
</plugins>
------



