#*
 * This file is part of Maven Deployit plugin.
 *
 * Maven Deployit plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Maven Deployit plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Maven Deployit plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#

 ------
 Deploy and run functional tests
 ------
 Benoit Moussaud
 ------
 30 September 2010
 ------

Deploy and run functional tests

 A sample showing how to deploy an applicaiton and perform performance tests with Selenium.

------

<profile>
	<id>functional-tests</id>
	<build>
		<plugins>
			<!-- DEPLOYIT-->
			<plugin>
				<groupId>com.xebialabs.deployit</groupId>
				<artifactId>maven-deployit-plugin</artifactId>
				<version>${project.version}</version>

				<executions>
					<execution>
						<id>deploy-id</id>
						<phase>pre-integration-test</phase>
						<goals>
							<goal>deploy</goal>
						</goals>
					</execution>
					<execution>
						<id>clean-id</id>
						<phase>post-integration-test</phase>
						<goals>
							<goal>clean</goal>
						</goals>
					</execution>
				</executions>
				<configuration>
					<testmode>false</testmode>
					<forcedClean>false</forcedClean>
					<environment>
						<ConfigurationItem>
							<type>Host</type>
							<label>Infrastructure/tomcat6.vm</label>
							<address>tomcat6.vm</address>
							<username>ubuntu</username>
							<password>ubuntu</password>
							<operatingSystemFamily>UNIX</operatingSystemFamily>
							<accessMethod>SSH_SFTP</accessMethod>
							<addedToEnvironment>false</addedToEnvironment>
						</ConfigurationItem>
						<ConfigurationItem>
							<type>TomcatUnmanagedServer</type>
							<label>Infrastructure/tomcat6.vm/tomcat6-1</label>
							<host>Infrastructure/tomcat6.vm</host>
							<ajpPort>8009</ajpPort>
							<tomcatHome>/home/ubuntu/tomcat/tomcat6-10</tomcatHome>
							<startCommand>/home/ubuntu/tomcat/tomcat6-10/bin/startup.sh</startCommand>
							<stopCommand>/home/ubuntu/tomcat/tomcat6-10/bin/startup.sh</stopCommand>
							<baseUrl>http://tomcat6.vm:9080</baseUrl>
						</ConfigurationItem>
					</environment>
					<middlewareResources>
						<middlewareResource>
							<type>TomcatDataSource</type>
							<configurationName>petclinicDS</configurationName>
							<label>My application datasource</label>
							<jndiName>jdbc/petclinicHSQL</jndiName>
							<driverClass>org.hsqldb.jdbcDriver</driverClass>
							<connectionUrl>jdbc:hsqldb:file:/tmp/database.hdb</connectionUrl>
							<maxActive>10</maxActive>
						</middlewareResource>
					</middlewareResources>

					<mappings>
						<MappingItem>
							<type>TomcatWarMapping</type>
							<label>WarMapping pocweb</label>
							<source>org.springframework.samples.petclinic/1.0.0-SNAPSHOT/War/petclinic.war</source>
							<target>Tomcat server</target>
							<contextRoot>petclinic</contextRoot>
						</MappingItem>
					</mappings>

				</configuration>

				<dependencies>
					<dependency>
						<groupId>com.xebialabs.deployit</groupId>
						<artifactId>tomcat-plugin</artifactId>
						<version>${deployitPluginVersion}</version>
					</dependency>
				</dependencies>
			</plugin>

			<!-- Selenium Server plugin -->
			<plugin>
				<groupId>org.codehaus.mojo</groupId>
				<artifactId>selenium-maven-plugin</artifactId>
				<executions>
					<execution>
						<id>xvfb</id>
						<phase>pre-integration-test</phase>
						<goals>
							<goal>xvfb</goal>
						</goals>
					</execution>
					<execution>
						<id>start</id>
						<phase>pre-integration-test</phase>
						<goals>
							<goal>start-server</goal>
						</goals>
						<configuration>
							<background>true</background>
							<logOutput>true</logOutput>
						</configuration>
					</execution>
					<execution>
						<id>stop</id>
						<phase>post-integration-test</phase>
						<goals>
							<goal>stop-server</goal>
						</goals>
					</execution>
				</executions>
			</plugin>
			<!-- Exclude Selenium Tests from test phase,
				Include Selenium Test into integration-test phase -->

			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-surefire-plugin</artifactId>
				<configuration>
					<excludes>
						<exclude>**/Selenium*.java</exclude>
					</excludes>
				</configuration>

				<executions>
					<execution>
						<id>integration-tests</id>
						<phase>integration-test</phase>
						<goals>
							<goal>test</goal>
						</goals>
						<configuration>
							<skip>false</skip>
							<excludes>
								<exclude>none</exclude>
							</excludes>
							<includes>
								<include>**/Selenium*.java</include>
							</includes>
						</configuration>
					</execution>
				</executions>
			</plugin>
		</plugins>
	</build>
</profile>


------



