#*
 * This file is part of Maven Deployit plugin.
 *
 * Maven Deployit plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Maven Deployit plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Maven Deployit plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#

 ------
 Deploy and run performance tests
 ------
 Benoit Moussaud
 ------
 30 September 2010
 ------

Deploy and run performance tests

 A sample showing how to deploy an application and perform performance tests with JMeter

------
<profile>
	<id>performance</id>
	<build>
		<plugins>
			<!-- DEPLOYIT-->
			<plugin>
				<groupId>com.xebialabs.deployit</groupId>
				<artifactId>maven-deployit-plugin</artifactId>
				<version>${project.version}</version>
				<executions>
					<execution>
						<id>deploy-id</id>
						<phase>pre-integration-test</phase>
						<goals>
							<goal>deploy</goal>
						</goals>
					</execution>
					<execution>
						<id>clean-id</id>
						<phase>post-integration-test</phase>
						<goals>
							<goal>clean</goal>
						</goals>
					</execution>
				</executions>
				<configuration>
					<testmode>false</testmode>
					<environment>
						<ConfigurationItem>
							<type>Host</type>
							<label>Infrastructure/Host Production Weblogic</label>
							<address>ubuntu-weblogic-1.local</address>
							<username>weblogic</username>
							<password>weblogic</password>
							<operatingSystemFamily>UNIX</operatingSystemFamily>
							<accessMethod>SSH_SCP</accessMethod>
						</ConfigurationItem>

						<ConfigurationItem>
							<type>WlsDomain</type>
							<label>Infrastructure/Domain WLS Petshop</label>
							<activeHost>Infrastructure/Host Production Weblogic</activeHost>
							<password>weblogic10</password>
							<wlHome>/opt/oracle/wls10.3.1.0/wlserver_10.3</wlHome>
							<adminServerName>AdminServer</adminServerName>
							<username>weblogic</username>
							<name>petshop</name>
							<port>7001</port>
							<startMode>NodeManager</startMode>
						</ConfigurationItem>

						<ConfigurationItem>
							<type>WlsServer</type>
							<label>Infrastructure/Domain WLS Petshop/Petshop Server 1</label>
							<host>Infrastructure/Host Production Weblogic</host>
							<domain>Infrastructure/Domain WLS Petshop</domain>
							<port>8001</port>
							<name>Server-1</name>
						</ConfigurationItem>

						<ConfigurationItem addToEnv="false">
							<type>WlsServer</type>
							<label>Infrastructure/Domain WLS Petshop/AdminServer</label>
							<host>Infrastructure/Host Production Weblogic</host>
							<domain>Infrastructure/Domain WLS Petshop</domain>
							<port>7001</port>
							<name>AdminServer</name>
						</ConfigurationItem>

						<ConfigurationItem>
							<type>Host</type>
							<label>Infrastructure/Host Production Apache</label>
							<address>apache2.vm</address>
							<username>ubuntu</username>
							<password>ubuntu</password>
							<sudoUsername>root</sudoUsername>
							<operatingSystemFamily>UNIX</operatingSystemFamily>
							<accessMethod>SSH_SUDO</accessMethod>
						</ConfigurationItem>

						<ConfigurationItem>
							<type>ApacheHttpdServer</type>
							<label>Infrastructure/Host Production Apache/ApacheWeb Server</label>
							<host>Infrastructure/Host Production Apache</host>
							<htdocsLocation>/home/ubuntu/wwww</htdocsLocation>
							<errorLogLocation>/var/log/apache2/error.log</errorLogLocation>
							<configurationLocation>/etc/apache2/mods-enabled</configurationLocation>
							<apachectlPath>/usr/sbin/apache2ctl</apachectlPath>
							<accessLogLocation>/var/log/apache2/access.log</accessLogLocation>
						</ConfigurationItem>

					</environment>

					<middlewareResources>
						<middlewareResource>
							<type>ApacheHttpdWlsPluginConfiguration</type>
							<configurationName>loadbalancing</configurationName>
							<label>ApacheWlsplugin Configuration</label>
							<mimeMatchExpressions>*</mimeMatchExpressions>
						</middlewareResource>
					</middlewareResources>

					<mappings>
						<MappingItem>
							<type>ApacheHttpdWlsPluginConfigurationMapping</type>
							<label>MyApacheWlsPlugin</label>
							<source>Applications/org.springframework.samples.petclinic/1.0.0-SNAPSHOT/ApacheWlsplugin Configuration</source>
							<target>Infrastructure/Host Production Apache/ApacheWeb Server</target>
							<clusters>[Petshop Cluster]</clusters>
							<virtualHost>my.remote.host:8888</virtualHost>
						</MappingItem>
					</mappings>

				</configuration>

				<dependencies>
					<dependency>
						<groupId>com.xebialabs.deployit</groupId>
						<artifactId>wls-plugin</artifactId>
						<version>${deployitVersion}</version>
					</dependency>
					<dependency>
						<groupId>com.xebialabs.deployit</groupId>
						<artifactId>apache-httpd-plugin</artifactId>
						<version>${deployitVersion}</version>
					</dependency>
				</dependencies>
			</plugin>

			<!-- JMeter plugin  -->
			<plugin>
				<groupId>org.apache.jmeter</groupId>
				<artifactId>maven-jmeter-plugin</artifactId>
				<version>1.0</version>
				<executions>
					<execution>
						<id>jmeter-tests</id>
						<phase>integration-test</phase>
						<goals>
							<goal>jmeter</goal>
						</goals>
					</execution>
				</executions>
				<configuration>
					<reportDir>${project.build.directory}/jmeter-reports</reportDir>
					<jmeterUserProperties>

					</jmeterUserProperties>
				</configuration>
				<dependencies>
					<dependency>
						<groupId>commons-logging</groupId>
						<artifactId>commons-logging</artifactId>
						<version>1.0.4</version>
					</dependency>

				</dependencies>
			</plugin>

		</plugins>
	</build>
</profile>
------



