#*
 * This file is part of Maven Deployit plugin.
 *
 * Maven Deployit plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Maven Deployit plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Maven Deployit plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#

 ------
 Simple deployment
 ------
 Benoit Moussaud
 ------
 30 April 2010
 ------

Simple deployment

 Show how to deploy the current artifact (ear or war) to a single Tomcat Server running on a remote host.
   
------
<plugins>
	<plugin>
		<groupId>com.xebialabs.deployit</groupId>
		<artifactId>maven-deployit-plugin</artifactId>
		<version>${project.version}</version>
		<executions>
			<execution>
				<id>deployit-plugin-test</id>
				<phase>pre-integration-test</phase>
				<goals>
					<goal>deploy</goal>
				</goals>
			</execution>
		</executions>
		<configuration>
			<environment>
				<ConfigurationItem>
					<type>Host</type>
					<label>Infrastructure/tomcat6.vm</label>
					<address>tomcat6.vm</address>
					<username>ubuntu</username>
					<password>ubuntu</password>
					<operatingSystemFamily>UNIX</operatingSystemFamily>
					<accessMethod>SSH_SFTP</accessMethod>
					<addedToEnvironment>false</addedToEnvironment>
				</ConfigurationItem>
				<ConfigurationItem>
					<type>TomcatUnmanagedServer</type>
					<label>Infrastructure/tomcat6.vm/tomcat6-1</label>
					<host>Infrastructure/tomcat6.vm</host>
					<ajpPort>8009</ajpPort>
					<tomcatHome>/home/ubuntu/tomcat/tomcat6-10</tomcatHome>
					<startCommand>/home/ubuntu/tomcat/tomcat6-10/bin/startup.sh</startCommand>
					<stopCommand>/home/ubuntu/tomcat/tomcat6-10/bin/startup.sh</stopCommand>
					<baseUrl>http://tomcat6.vm:9080</baseUrl>
				</ConfigurationItem>
			</environment>
		</configuration>
		<dependencies>
			<dependency>
				<groupId>com.xebialabs.deployit</groupId>
				<artifactId>tomcat-plugin</artifactId>
				<version>${deployitPluginVersion}</version>
			</dependency>
		</dependencies>
	</plugin>
</plugins>

------



