#*
 * This file is part of Maven Deployit plugin.
 *
 * Maven Deployit plugin is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Maven Deployit plugin is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Maven Deployit plugin.  If not, see <http://www.gnu.org/licenses/>.
 *#

 ------
 Usage
 ------
 Benoit Moussaud
 ------
 2010-09-30
 ------

Usage

  This page provides general usage information.  The Deployit Maven plugin has two main usages:

  * to create a Deployit Deployment package including artefacts, managed in pom.xml file or a maven repository, and file sets corresponding
  to configuration files, SQL Files, static contents... A new packaging type has been added, <dar>, to provide a dedicated lifecycle
   and to produce new kind of archive, dar files - Deployment Archive. These dar files could be used to be deployed within the maven plugin or
   to be imported into a Deployit server directly from a enterprise maven repository (eg. Artifactory, Nexus,....)
   
  * to deploy Deployit Deployment package to an environment in order to, for example,
  run a set of tests (functional tests, technical tests, performance tests). This is done during the
  pre-integration-test and pre-integration-test phase.  This is done using <<<{{{./deploy-mojo.html} deployit:deploy }}>>> goal.
  The  <<<{{{./clean-mojo.html} deployit:clean }}>>> undeploys all what has been deployed in the <<<{{{./deploy-mojo.html} deployit:deploy }}>>> goal.


Getting started with Deployit Maven plugin

  To use the Deployit maven plugin, you need to:
  
  	* Add the XebiaLabs repository to your pom.xm

------
  	<pluginRepositories>
  	...
		<pluginRepository>
			<id>nexus-dexter-releases</id>
			<url>http://dexter.xebialabs.com/nexus/content/repositories/releases</url>
		</pluginRepository>

		<pluginRepository>
			<id>nexus-dexter-snapshots</id>
			<url>http://dexter.xebialabs.com/nexus/content/repositories/snapshots</url>
		</pluginRepository>
	....
	</pluginRepositories>
------

  	* Add your credentials to your settings.xml file. YOUR_USERNAME and YOUR_LICENSE are in the email you have received when you have <<< {{{http://www.xebialabs.com/try-deployit} downloaded Deployit Personal Edition}}>>>.

------
	<servers>
	...
		<server>
			<id>nexus-dexter-releases</id>
			<username>YOUR_USERNAME</username>
			<password>YOUR_LICENSE</password>
		</server>
		<server>
			<id>nexus-dexter-snapshots</id>
			<username>YOUR_USERNAME</username>
			<password>YOUR_LICENSE</password>
		</server>
	...
	</servers>
------
